{% extends 'projects/base.html' %}
{% load markdown_extras %}

{% block content %}


<main>
    {% include "projects/header.html" with title="Project Topic" %}
        
    <div class="p-5 mb-2 bg-light border rounded-3">
        <div class="container-fluid py-3">
            <h4 class="fw-bold">{{ project.title }}</h4>
                        
            <div class="container-fluid py-1 px-0">
                <dl class="row mt-3 mb-3">
                    <dt class="col-md-4 col-lg-3 col-xxl-2">Suitable for:</dt>
                    <dd class="col-md-8 col-lg-9 col-xxl-10">
                        {% if project.honours %} Honours; {% endif %}
                        {% if project.mds %} MDS; {% endif %}
                        {% if project.se %} SE; {% endif %}
                        {% if project.other %} {{ project.other }}; {% endif %}
                    </dd>
                    <dt class="col-md-4 col-lg-3 col-xxl-2">Primary supervisor:</dt>
                    <dd class="col-md-8 col-lg-9 col-xxl-10">
                        {{ project.primary }},
                        <small> {{ project.primary.department }}
                            (<a href=mailto:{{ project.primary.email }}>Email</a>)
                            {% if project.primary.web %}
                                (<a href={{ project.primary.web }}>Website</a>)
                            {% endif %}
                        </small>
                    </dd>
                    {% if project.cosupervisor %}
                    <dt class="col-md-4 col-lg-3 col-xxl-2">Co-supervisor:</dt>
                    <dd class="col-md-8 col-lg-9 col-xxl-10">{{ project.cosupervisor }}
                        <small> {{ project.cosupervisor.department }}
                            (<a href=mailto:{{ project.cosupervisor.email }}>Email</a>)
                            {% if project.cosupervisor.web %}
                                (<a href={{ project.cosupervisor.web }}>Website</a>)
                            {% endif %}
                        </small>
                    </dd>
                    {% endif %}
                    {% if project.external %}
                    <dt class="col-md-4 col-lg-3 col-xxl-2">Additional supervisory team:</dt>
                    <dd class="col-md-8 col-lg-9 col-xxl-10">{{ project.external }}</dd>
                    {% endif %}
                    {% if project.numstudents %}
                    <dt class="col-md-4 col-lg-3 col-xxl-2">Number of students:</dt>
                    <dd class="col-md-8 col-lg-9 col-xxl-10">{{ project.numstudents }}</dd>
                    {% endif %}
                </dl>
            </div>

            <h5>Description</h5>
            <p class="col-md-8">{{ project.description | markdown | safe }}</p>
            {% if project.skills %}
            <h5>Assumed Skills</h5>
            <p class="col-md-8">{{ project.skills }}</p>
            {% endif %}
            {% if project.references %}
                <h5>Sample references</h5>
                <p class="col-md-8">{{ project.references | markdown | safe }}</p>
            {% endif %}
            {% if project.link %}
                <dl class="row mt-3 mb-3">
                    <dt class="col-md-5 col-lg-3 col-xxl-3">Additional information:</dt>
                    <dd class="col-md-7 col-lg-9 col-xxl-19"><a href="{{ project.link }}">{{ project.link }}</a></dd>
                </dl>
            {% endif %}
            <p>
            <div class="d-flex justify-content-between pt-3">
                <a href="mailto:{{ project.primary.email }}?subject=Enquiry: {{ project.title}}" class="btn btn-secondary">Enquire</a>
                <div class="float-right text-muted small">Last modified: {{ project.current_date|date:"M Y" }}</div>
            </div>
        </div>
    </div>
  
    {% include "projects/footer.html" %}
</main>

{% endblock %}