{% extends 'projects/base.html' %}


{% block content %}

    <h1>Supervisors</h1>
    <p>
        UWA staff listed as primary supervisors and co-supervisors.
    <p>
        Supervision teams may also include external supervisors, mentors or sponsors, and research students.
        They are listed under the individual topic description.
        <hr>
        
    <ul>
{% for supervisor in supervisor_list %}
    <p>
        <li><strong>{{ supervisor }}</strong>, {{ supervisor.department }}</br>
    {{ supervisor.email }}</br>
    {% if supervisor.web %}
        <a href={{ supervisor.web }}>{{ supervisor.web }}</a></br>
    {% endif %}
    {% if supervisor.interests %}
        {{ supervisor.interests }}
    {% endif %}
        </p>

    </li>
{% endfor %}
    </ul>

{% endblock %}
